@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

:root {
  --primary-color: #547adb;
}

#root {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow-x: hidden;
}

.body-site {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 55px;
  box-sizing: border-box;

  font-family: "Questrial", sans-serif;
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 0px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
}

header {
  padding: 0px 80px;
  box-sizing: border-box;
  width: 100vw;
  height: 55px;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.188);
  color: var(--primary-color);

  gap: 20px;
  font-size: 20px;

  z-index: 10000;
}

.logo-cart {
  padding: 5px 10px;
  width: 23px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
}

.holder-links {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: black;

  align-items: center;
}

.selector-lang {
  height: 35px;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0px 0px;
  border: none;
}
.selector-lang:focus {
  outline: none;
}

.buy-button {
  padding: 0px 5px;
  box-sizing: border-box;

  height: 35px;
  width: 100px;
  background-color: var(--primary-color);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: 300ms;
  cursor: pointer;
}
.buy-button:hover {
  background-color: #1c3064;
}
.link-sel {
  box-sizing: border-box;
  cursor: pointer;
  transform: 300ms;
}

.link-sel:hover {
  border-bottom: 1px black solid;
}

.canvas-threejs {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1000;

  filter: blur(10px);
}

.page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
  margin-bottom: 100px;
}

.hero-text {
  font-size: 130px;
  color: var(--primary-color);
  display: flex;
  flex-direction: row;
  gap: 40px;

  align-items: center;
  box-sizing: border-box;
  padding: 20px 40px;
  border-radius: 100px;
}

.hero-text img {
  height: 100px;
}

.hero-subtext {
  margin-top: 20px;
  font-size: 30px;
}

/* Cart */

.cart-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 375px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.409);
  border-radius: 20px;

  padding-bottom: 20px;

  position: fixed;
  top: 75px;
  right: 10px;
  z-index: 100;
  transition: 300ms;
}
.cont-input-c {
  height: 40px;
  width: 95%;
  margin-bottom: 10px;
}

.cont-input-c input {
  background-color: rgb(244, 244, 244);
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.642);
}

.title-input {
  width: 65px;
}

.cont-input-c select {
  background-color: rgb(244, 244, 244);
  width: 103.5%;
  height: 55px;
  border: none;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.642);
}

.cont-input-c input:focus {
  outline: none;
}

.cont-input-c input:focus + .title-input {
  opacity: 0;
}

.cont-input-c div {
  background-color: #5e75b1;
  border-radius: 10px;
  padding: 2px 3px;
  text-align: center;
  box-sizing: border-box;
  color: white;
  transition: 300ms;
  position: relative;
  top: -55px;
  left: 3px;
}

.button-pay {
  height: 55px;
  width: 93%;

  background-color: rgba(149, 224, 36, 0.682);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 19px;
  color: #5e75b1;
  flex-direction: row;
  gap: 10px;
  transition: 300ms;
  margin-bottom: 8px;
}

.button-pay:hover {
  background-color: rgb(111, 170, 21);
  color: white;
}

.logo-pay {
  height: 30px;
  transform: translateY(-3px);
}

.cont-2-inp {
  transform: translateX(-5px);
  width: 90%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.hh {
  width: 47%;
}

.hh2 {
  width: 77.5%;
}

.hh3 {
  width: 17.5%;
}
.hh4 {
  width: 100%;
}

.cont-review-order {
  margin-top: 15px;
  width: 94%;
  height: auto;
  max-height: 300px;
  border-radius: 20px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont-products-op {
  border-radius: 15px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  padding-right: 8px;
}

.no-prod-selected {
  margin-top: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  color: rgb(54, 54, 54);
}

.cont-products-op::-webkit-scrollbar {
  width: 5px;
}
.cont-products-op::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
}

.card-product-op {
  transform: translateX(5px);
  margin-top: 5px;
  padding: 5px 0px;
  box-sizing: border-box;
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
}

.info-op {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 230px;
  gap: 5px;
}
.info-op div {
  width: 100%;
  text-align: center;
}

.counter-op {
  height: 75%;
  min-width: 140px;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button-ui-c {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: white;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-bin {
  background-color: tomato;
}

.logo-bin {
  height: 18px;
  color: white;
}

.name-m {
  font-size: 15.5px;
  transform: translateY(2.5px);
}

.quant-n {
  transform: translateY(-2.5px);
  font-size: 13px;
  color: grey;
}

.holder-price-final {
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cont-price-review {
  background-color: rgb(244, 244, 244);
  width: 101.5%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 25px 0;
  border-radius: 10px;
}

.bold {
  color: #1c3064;
}

.container-payers {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  transform: translateY(-10px);
}

.container-payers a {
  font-size: 12px;
  transform: translateY(-6px);
  color: black;
}

.img-payee {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.market-counter {
  height: 20px;
  width: 20px;

  border-radius: 50%;
  background-color: rgb(2, 2, 2);
  border: solid black 1px;

  position: relative;
  right: 33px;
  top: -13px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;

  transition: 300ms;
  animation: jumpAndBounce 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.opacity {
  opacity: 0;
}

.point-prev {
  min-height: 15px;
  min-width: 15px;
  border-radius: 50%;
  background-color: #1c3064;
  transform: translateY(2px);
}

.point-prev-y {
  transform: translateY(2px);
  min-height: 15px;
  min-width: 15px;
  border-radius: 50%;
  background-color: #d38415;
}

@keyframes jumpAndBounce {
  0%,
  50% {
    scale: 1.1;
  }
  85% {
    scale: 0.9;
  }
}

.login-form {
  height: 300px;
  width: 400px;

  padding: 0px 40px;
  box-sizing: border-box;
  background-color: #c7c7c7;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-button {
  width: 200px;
  height: 45px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  background-color: rgba(18, 196, 18, 0.668);
}

/* New Product Container */

.container-product-types-o {
  box-sizing: border-box;
  padding: 20px;

  width: 1100px;
  height: 750px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.113);

  display: flex;
  flex-direction: row;
}

.left-side-container-product-types-o {
  height: 100%;
  width: 40%;

  display: flex;
  align-items: safe;
  justify-content: center;
  flex-direction: column;
}

.right-side-container-product-types-o {
  height: 100%;
  width: 60%;

  display: flex;
  align-items: center;
  flex-direction: column;

  box-sizing: border-box;
  padding-right: 25px;
}

.banner-product-types-o {
  height: 100%;
  width: 88%;
  background-color: rgb(215, 236, 255);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-banner-product-types-o {
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding-left: 40px;
  margin-top: 30px;
}

.logo-banner-product-types-o img {
  height: 60%;
  opacity: 0.5;
  object-fit: cover;
}

.title-banner-product-types-o {
  width: 100%;
  margin-top: 30px;
  font-size: 50px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.821);

  box-sizing: border-box;
  padding-left: 40px;
}
.subtitle-banner-product-types-o {
  width: 100%;
  box-sizing: border-box;
  padding-left: 40px;

  font-size: 48px;
  color: rgb(51, 84, 103);
}

.description-banner-product-types-o {
  line-height: 35px;
  margin-top: 30px;
  font-size: 23px;
  color: rgb(51, 84, 103);
  width: 100%;
  box-sizing: border-box;
  padding: 0px 40px;
}

.description-banner-info-btn {
  margin-top: 30px;
  min-height: 50px;
  width: 200px;
  border-radius: 10px;
  background-color: #547adbc0;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;

  transition: 300ms;
  animation: floaty 5s infinite;

  cursor: pointer;
}

.description-banner-info-btn:hover {
  background-color: var(--primary-color);
}

.container-reviews-banner {
  margin-top: 10px;
  width: 100%;
  height: 250px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container-review-card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.206);
  width: 80%;
  height: 200px;
  background-color: white;
  border-radius: 20px;

  box-sizing: border-box;
  padding: 5px;
}

.card-review {
  height: 100%;
  background-color: rgb(21, 26, 53);
  color: white;
  border-radius: 20px;

  box-sizing: border-box;
  padding: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.upper-review {
  width: 100%;
  font-size: 18px;
  line-height: 28px;
}

.bottom-review {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.bottom-review img {
  background-color: white;
  padding: 0px;
  border-radius: 10px;
  height: 55px;
}

.container-info-review-o {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  gap: 6px;
  color: white;
}

.profession-info-review {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.659);
}

.upper-part-product-types-o {
  width: 100%;
  height: 28%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lower-part-product-types-o {
  width: 100%;
  height: 72%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.title-product-types-o {
  font-size: 33px;
}

.subtitle-product-types-o {
  margin-top: 15px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.746);
}

.card-pill-o {
  width: 280px;
  height: 85%;
  background-color: rgb(234, 243, 252);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-two-pill-o {
  background-color: rgb(87, 107, 237);
}

.cont-posologie {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.big-s-posologie {
  height: 35px;
  width: 45px;
  border-radius: 10px;
  background-color: #254aa9;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.pos-y {
  background: rgb(236, 160, 18);
}

.big-s-name-posologie {
  font-size: 24px;
}

.price-pill-posologie {
  height: 50px;
  width: 80%;
  padding: 10px 0px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: baseline;

  font-size: 50px;
  gap: 10px;

  margin-top: 10px;
}

.t-1-ro {
  color: rgba(165, 165, 165, 0.796);
}

.t-2-ro {
  font-size: 18px;
  color: rgb(165, 165, 165);
}

.container-info-pill-posologie {
  width: 100%;
  height: 100px;
  margin-top: 50px;

  box-sizing: border-box;
  padding: 0 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row-info-pill-posologie {
  display: flex;
  flex-direction: row;
  height: 35px;
  width: 100%;

  align-items: center;
  justify-content: space-between;
}

.tick-posologie {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.text-tick-posologie {
  width: 80%;
  color: rgba(75, 75, 75, 0.768);
  box-sizing: border-box;
  font-size: 17px;
}

.tick-logo {
  color: white;
  height: 65%;
}

.add-to-cart-posologie {
  background-color: #3a6be5;
  margin-top: 50px;
  height: 75px;
  width: 80%;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  box-sizing: border-box;
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
  transition: 300ms;
}

.add-to-cart-posologie:hover {
  background-color: rgb(48, 49, 57);
  color: white;
}

.goon-logo {
  height: 25px;
}

.whitec {
  color: white;
}

.whitecc {
  color: rgba(255, 255, 255, 0.748);
}

.whiteb {
  background-color: white;
}

.varc {
  color: var(--primary-color);
}

.reverse-button-add {
  background-color: white;
  color: var(--primary-color);
}

.container-chose-size-pack {
  width: 100%;
  height: 40px;
  transform: translateY(50px);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.selected-size-pack {
  border: 3px solid var(--primary-color);
}

.container-chose-size-pack div {
  width: 150px;
  height: 40px;
  background-color: #e1edff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-sizing: border-box;

  transition: 300ms;
}

.container-chose-size-pack div:hover {
  background-color: var(--primary-color);
  color: white;
}

.hidden {
  display: none;
}

.cont-posologie img {
  cursor: pointer;
  transform: translateX(10px);
  height: 60px;
}

/* Informations Page */
.information-page {
  background: linear-gradient(white, #547adb45, #547adb6b, #547adb45, white);
  box-sizing: border-box;
  padding: 20px;
}

.hero2-info {
  height: 500px;
  width: 1100px;

  display: flex;
  flex-direction: row;
}

.left-side-hero-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.799);
}

.right-side-hero-info {
  width: 50%;
  height: 100%;
}

.right-side-hero-info img {
  width: 90%;
  transform: translateY(280px);
}

.information-container {
  height: 790px;
  width: 1100px;
  background: linear-gradient(white, #547adb45);
  border-radius: 10px;
}

.title-hero2-info {
  margin-top: 120px;
  box-sizing: border-box;
  padding: 0 40px;

  width: 100%;
  font-size: 30px;
}

.text-hero2-info {
  margin-top: 30px;
  box-sizing: border-box;
  padding: 0 40px;
  font-size: 18px;
}

.container-button-hero {
  margin-top: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px;
}
.button-hero {
  width: 180px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 30px;
  color: white;
  font-size: 21px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 300ms;
  cursor: pointer;
}

.button-hero:hover {
  background-color: #365091;
}

.title-info {
  color: rgba(0, 0, 0, 0.814);
  font-size: 35px;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding-left: 40px;
}

.containter-card-info {
  box-sizing: border-box;
  padding-left: 150px;

  height: 150px;

  display: flex;
  flex-direction: row;
  margin-bottom: 40px;

  gap: 20px;
}

.containter-card-info img {
  transform: translateY(-20px) translateX(-15px);
  width: 180px;
  height: 180px;
}

.info-cont-cont-in {
  width: 70%;
}

.title-cont-info-in {
  color: rgba(0, 0, 0, 0.814);
  margin-top: 10px;
  font-size: 25px;
  margin-bottom: 15px;
}

.desc-cont-info-in {
  color: rgba(0, 0, 0, 0.814);
  padding-right: 90px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
}

.container-button-more-info-hero2 {
  width: 100%;
  height: 50px;
  transform: translateY(-15px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-more-info-hero2 {
  height: 100%;
  width: 250px;
  background-color: #547adba5;
  color: white;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  transition: 300ms;
  cursor: pointer;
}

.button-more-info-hero2:hover {
  background-color: #334b88ac;
}

.floating-scroll {
  width: 38px;
  height: 82px;
  padding: 2px;
  border: 2px solid #547adb50;
  border-radius: 50px;
  background: #547adb2e;
  cursor: pointer;
}

.cont-scroll {
  animation: floaty infinite 4s;
  position: absolute;
  top: calc(100vh - 150px);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.floating-scroll svg {
  width: 22px;
  height: 62px;
  transform: translateX(7.5px) translateY(10px);
}

.scroll-text {
  color: #547adba2;
  font-size: 20px;
}

@keyframes floaty {
  0% {
    transform: translateY(-12px);
  }
  25% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(-12px);
  }
  75% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-12px);
  }
}

/* Product Details page */

.product-details-page {
  background: linear-gradient(white, #ffffff63);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.114);
  border-radius: 20px;

  background: linear-gradient(white, #547adb63);
  width: 1100px;
  min-height: 800px;
  box-sizing: border-box;
  padding: 0px 40px 40px 40px;
  margin-bottom: 50px;
}

.details-upper-section {
  height: 220px;

  box-sizing: border-box;
  padding: 40px 0;
  color: #000000e7;

  display: flex;
  flex-direction: row;
}

.details-title-upper-section {
  font-size: 35px;
  margin-bottom: 20px;
}

.details-desc-upper-section {
  height: 100%;
  font-size: 17px;
  box-sizing: border-box;
  padding-right: 300px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.754);
}

.details-cont-cont {
  width: 80%;
}

.details-cont-cont-img {
  width: 20%;
  height: 100%;
}

.details-cont-cont-img img {
  height: 600px;
  transform: translateX(-300px) translateY(-250px);
}

.details-separator {
  width: 100%;
  height: 5px;
  margin-top: 20px;
  margin-bottom: 35px;
  border-radius: 20px;
  background-color: #5b7dd41f;
  transform: translateY(10px);
}

.details-lower-section {
  min-height: 500px;
}

.details-first-lower-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.details-title-lower-section {
  font-size: 19px;
  margin-bottom: 20px;
}

.details-desc-lower-section {
  width: 50%;
  font-size: 14.5px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.701);
}

.details-details-lower-box-container {
  min-height: 200px;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;

  align-items: center;
  justify-content: center;
}

.details-box-cont-text {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.details-box-cont-img {
  width: 25%;
  height: 200px;
  margin-right: 130px;
}

.details-box-title {
  transform: translateX(50px);
  font-size: 15px;
  margin-bottom: 20px;
}

.details-box-desc {
  transform: translateX(50px);
  box-sizing: border-box;
  padding-right: 50px;
  font-size: 14.5px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.754);
}

.details-box-img1 {
  height: 400px;
  transform: translateY(-80px) translateX(00px);
}

.details-box-img2 {
  height: 450px;
  transform: translateY(-135px) translateX(-10px);
}

.details-box-img3 {
  height: 500px;
  transform: translateY(-140px) translateX(-40px);
}

.details-box-img4 {
  height: 150px;
  mix-blend-mode: multiply;
}

/* Footer */
footer {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.117);

  background: linear-gradient(90deg, white, #547adb33);
}

.footer-up {
  width: 100vw;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
}

.box-footer-up {
  width: 240px;
  height: 300px;
  flex-direction: column;
  display: flex;

  transform: translateX(50px) translateY(40px);

  gap: 10px;
}

.box-footer-up a {
  color: black;
  text-decoration: none;
}

.title-box-footer-up {
  font-family: "Tajawal", sans-serif;
  font-size: 15px;
  margin-bottom: 30px;
  color: var(--primary-color);
}

.img-footer {
  height: 40px;
  transform: translateX(-25px) translateY(-10px);
}

.img-footer2 {
  height: 100px;
  transform: translateX(0px) translateY(-50px);
}

.footer-down {
  padding: 20px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Contact Page */

.container-contact {
  width: 1100px;
  height: 800px;

  box-sizing: border-box;
  padding: 50px 100px;
  margin-bottom: 135px;
}

.title-contact {
  width: 50%;
  font-size: 60px;
}

.form-contact {
  display: flex;
  flex-direction: column;
}

.container-double-input-c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.container-input-c {
  min-height: 65px;
  width: 48%;
  display: flex;
  flex-direction: column;
}

.container-input-c input {
  border: none;
  background-color: rgb(244, 244, 244);
  height: 100%;
  text-indent: 20px;
  border-radius: 5px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.688);
}

.container-input-c input:focus {
  outline: none;
}

.container-input-c label {
  font-size: 18px;
}

.select-query-container-c {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.select-query-container-c label {
  font-size: 18px;
}

.select-query-container-c select {
  background-color: rgb(244, 244, 244);
  border-radius: 5px;
  padding: 0px 20px;
  box-sizing: border-box;
  font-size: 18px;
  height: 45px;
  border: none;

  color: rgba(0, 0, 0, 0.688);
}

.contianer-text-area {
  display: flex;
  flex-direction: column;
  margin-bottom: -20px;
}

.contianer-text-area label {
  font-size: 18px;
}

.contianer-text-area textarea {
  height: 300px;
  background-color: rgb(244, 244, 244);
  border: none;
  resize: none;
  color: rgba(0, 0, 0, 0.688);
  font-size: 20px;
  font-family: "Questrial", sans-serif;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.contianer-text-area textarea:focus {
  outline: none;
}

.button-send-message {
  width: 50%;
  height: 45px;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  transition: 300ms;
  font-size: 18px;
  cursor: pointer;
}

.button-send-message:hover {
  background-color: #365091;
}

/* Terms page */

.container-terms {
  width: 1000px;
  height: 700px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.238);

  padding: 0 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Questrial", sans-serif;
  margin-top: 60px;
  margin-bottom: 60px;
}

.text-terms {
  height: 590px;

  width: 97%;
  border: rgba(128, 128, 128, 0.187) 2px solid;
  border-radius: 20px;
  overflow-y: auto;
}

.terms-container {
  text-align: justify;
  padding: 30px;
  box-sizing: border-box;
}

.prank {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.prank img {
  height: 100%;
  width: 100%;
}

.back-to-site {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: #547adb;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 20px;
  left: 20px;
}

/* Payment Page */

.container-pagamenti {
  width: 800px;
  height: 600px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.391);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.box-section-payment {
  background-color: rgba(255, 255, 255, 0.449);
  width: 55%;
  display: flex;
  flex-direction: column;
  border-radius: 10px 0 0 10px;
}

.box-recap-payment {
  background-color: var(--primary-color);
  width: 45%;
  display: flex;
  flex-direction: row;
  border-radius: 0 10px 10px 0;
}

.form-payment {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  padding: 0 20px;
}

.form-payment label {
  margin-top: 10px;
  width: 90%;
  height: 40px;
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;

  padding: 8px 15px;
}

.form-payment label input {
  background: none;
  border: none;
  font-size: 17px;
  color: #000000d2;
}

.form-payment label input:focus {
  outline: none;
}

.button-pay-confirm {
  margin-top: 30px;
  height: 50px;
  width: 97%;
  border-radius: 10px;
  border: none;
  background-color: rgba(172, 255, 47, 0.758);
}

.title-pay-info {
  padding-left: 30px;
}

.termslinkorder {
  font-size: 14px;
}

.logopaymentproviderspay {
  margin-top: 20px;
  height: 40px;
}

.cont-chem {
  margin-top: 70px;
  margin-bottom: 60px;
}

.warning-details {
  border-radius: 150px;
  padding: 30px 0px;
  background-color: rgba(255, 255, 255, 0.362);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.062);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.warning-details div {
  width: 40%;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.754);
  font-size: 15px;
}

.warning-details img {
  mix-blend-mode: multiply;
}

.help-float-button {
  width: 120px;
  height: 45px;
  border-radius: 30px;
  background-color: var(--primary-color);

  position: fixed;
  top: calc(100vh - 60px);
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;

  transition: 300ms;
  z-index: 10000;
}

.help-float-button:hover {
  background-color: #365091;
}
